@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,300;9..40,400;9..40,500;9..40,600;9..40,700;9..40,800;9..40,900&display=swap");
html, body {
  color: #191919;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 400;
}

.btn-yellow {
  background-color: #F9D783;
  border-radius: 25px;
  border: 1px solid #F9D783;
  text-decoration: none;
  padding: 15px 25px;
  color: #191919;
  display: inline-block;
  font-weight: 600;
  font-size: 16px;
  transition: background-color 0.5s ease;
}
.btn-yellow i {
  margin-left: 10px;
  vertical-align: middle;
  position: relative;
  top: -5px;
  font-size: 0.8em;
}
.btn-yellow:hover {
  background-color: #191919;
  color: rgb(236, 235, 235);
}

.btn-transparent {
  background-color: transparent;
  border-radius: 25px;
  border: 1px solid #191919;
  text-decoration: none;
  padding: 15px 25px;
  color: #191919;
  display: inline-block;
  font-weight: 600;
  font-size: 16px;
  transition: background-color 0.5s ease;
}
.btn-transparent i {
  margin-left: 10px;
  vertical-align: middle;
  position: relative;
  top: -5px;
  font-size: 0.8em;
}
.btn-transparent:hover {
  background-color: #191919;
  color: rgb(236, 235, 235);
}

header {
  background-color: #F0EFE9;
  padding: 16px;
}
header .container {
  display: flex;
  gap: 70px;
  align-items: center;
  justify-content: space-between;
}
header .container .menu-bars {
  border: none;
  font-size: 25px;
  background-color: transparent;
}
@media (min-width: 992px) {
  header .container .menu-bars {
    display: none;
  }
}
header .container .menu {
  display: none;
  flex: 1;
}
@media (min-width: 992px) {
  header .container .menu {
    display: block;
  }
}
header .container .menu .top-menu {
  display: flex;
  justify-content: end;
  align-items: center;
  padding-bottom: 10px;
  border-bottom: 1px solid #DAD9D3;
}
@media (min-width: 1200px) {
  header .container .menu .top-menu {
    justify-content: space-between;
  }
}
header .container .menu .top-menu .contact-information {
  display: none;
  gap: 40px;
  font-family: "Inter", sans-serif;
  font-size: 15px;
  font-weight: 300;
}
@media (min-width: 1200px) {
  header .container .menu .top-menu .contact-information {
    display: flex;
  }
}
header .container .menu .top-menu .contact-information .icon-border {
  padding-left: 10px;
  border-left: 1px solid #DAD9D3;
}
header .container .menu .top-menu .contact-information i {
  font-size: 1.2em;
}
header .container .menu .top-menu .social-media-images i {
  font-size: 1.3rem;
  margin-left: 15px;
  text-decoration: none;
  color: #191919;
  transition: color 0.3s ease;
}
header .container .menu .top-menu .social-media-images i:hover {
  color: #F9D783;
}
header .container .header-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 10px;
}
header .container .header-bottom .bottom-menu {
  display: flex;
}
header .container .header-bottom .bottom-menu a {
  display: inline-block;
  text-decoration: none;
  color: #191919;
  margin-right: 35px;
  position: relative;
}
header .container .header-bottom .bottom-menu a.active {
  font-weight: 500;
}
header .container .header-bottom .bottom-menu a.active::after, header .container .header-bottom .bottom-menu a:hover::after {
  content: "";
  position: absolute;
  font-weight: 500;
  height: 2px;
  width: 15px;
  background-color: #191919;
  left: 50%;
  bottom: -3px;
  transform: translate(calc(50% - 15px));
}
header .container .header-bottom .login-btn {
  padding-top: 12px;
  padding-bottom: 15px;
}

.showcase {
  background-color: #F0EFE9;
}
.showcase .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.showcase .container .content h1 {
  font-family: "DM Sans", sans-serif;
  font-size: 86px;
  font-weight: 700;
}
.showcase .container .content p {
  font-size: 20px;
  font-weight: 400;
  padding: 40px 0px 40px 0px;
}
.showcase .container .content a {
  margin-right: 15px;
  padding-top: 15px;
  padding-bottom: 15px;
}
.showcase img {
  margin-right: -50px;
}