@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600;800;900&display=swap');


html, body {
color: #191919;
font-family: 'Inter', sans-serif;
font-size: 16px;
font-weight: 400;
}

header {
background-color: #F0EFE9;
padding: 16px;


.container {
    display:flex;
    gap: 70px;
    align-items: center;
    justify-content: space-between;
    


    .menu-bars {
        border: none;
        font-size: 25px;
        background-color: transparent;

        @media (min-width: 992px) {
            display:none;
        }
    }ss

    .menu {
        display: none;
        flex: 1;
        
        @media (min-width: 992px) {
            display:block;
        }

        .top-menu {
            display:flex;
            justify-content: space-between;
            align-items: center;
            padding-bottom:10px;
            border-bottom: 1px solid #DAD9D3;


    .contact-information {
                display: flex;
                gap: 40px;
                font-family: 'Inter', sans-serif;
                font-size: 15px;
                font-weight: 300;

                .icon-border {
                    padding-left: 10px;
                    border-left: 1px solid #DAD9D3;
                }

                i {
                    font-size: 1.2em;
                }
                
                
            }  
            
            
            .social-media-images {

                i {
                    font-size: 1.3rem;
                    margin-left: 15px;
                    text-decoration: none;
                    color: #191919;
                    transition: color 0.3s ease;

                    &:hover {
                        color: #F9D783;
                        
                    }
                }
                
            }
        }
    }

    .header-bottom {
        display:flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 30px;

        .bottom-menu {
            display:flex;
            gap: 35px;
        }

        .login-btn {
            background-color: #F9D783;
            border-radius: 25px;
            border: none;
            padding: 10px;
            
        }
    }

//    @media (min-width: 2500px) {
//     max-width: 2048px;
//    }
} 



}