@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,300;9..40,400;9..40,500;9..40,600;9..40,700;9..40,800;9..40,900&display=swap");
html, body {
  color: #191919;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
}

.wrapper-grid {
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr auto;
}

.btn-yellow {
  background-color: #F9D783;
  border-radius: 25px;
  border: 1px solid #F9D783;
  text-decoration: none;
  padding: 15px 25px;
  color: #191919;
  display: inline-block;
  font-weight: 600;
  font-size: 16px;
  transition: background-color 0.5s ease;
}
.btn-yellow i {
  margin-left: 10px;
  vertical-align: middle;
  position: relative;
  top: -5px;
  font-size: 0.8em;
}
.btn-yellow:hover {
  background-color: #191919;
  color: rgb(241, 237, 237);
  border: 1px solid #191919;
}

.btn-transparent {
  background-color: transparent;
  border-radius: 25px;
  border: 1px solid #191919;
  text-decoration: none;
  padding: 15px 25px;
  color: #191919;
  display: inline-block;
  font-weight: 600;
  font-size: 16px;
  transition: background-color 0.5s ease;
}
.btn-transparent i {
  margin-left: 10px;
  vertical-align: middle;
  position: relative;
  top: -5px;
  font-size: 0.8em;
}
.btn-transparent:hover {
  background-color: #191919;
  color: rgb(236, 235, 235);
}

.section-title {
  padding-top: 120px;
  padding-bottom: 90px;
}
.section-title p {
  color: #F94D1C;
  margin-bottom: 10px;
}
.section-title h2 {
  color: #191919;
  font-family: "DM Sans", sans-serif;
  font-size: 45px;
  font-weight: 700;
}

header {
  background-color: #F0EFE9;
  padding: 16px;
}
header .container {
  display: grid;
  align-items: center;
  grid-template-columns: 1fr auto;
  grid-template-areas: "logo bars";
}
@media (min-width: 992px) {
  header .container {
    grid-template-columns: auto 1fr auto;
    grid-template-areas: "logo cib social" "logo menu menu";
  }
}
header .container .btn-menubars {
  grid-area: bars;
  border: none;
  font-size: 25px;
  background-color: transparent;
}
@media (min-width: 992px) {
  header .container .btn-menubars {
    display: none;
  }
}
header .container .logotype {
  grid-area: logo;
  margin-right: 70px;
}
header .container .contactinformation-bar {
  grid-area: cib;
  display: none;
  justify-content: flex-start;
  align-items: center;
}
@media (min-width: 1200px) {
  header .container .contactinformation-bar {
    display: flex;
  }
}
header .container .contactinformation-bar .content-box {
  padding-right: 30px;
  margin-right: 30px;
  border-right: 1px solid #DAD9D3;
  font-family: "Inter", sans-serif;
  font-size: 15px;
  font-weight: 300;
}
header .container .contactinformation-bar .content-box i {
  margin-right: 5px;
  font-size: 1.2em;
}
header .container .contactinformation-bar .content-box.last {
  border: none;
}
header .container .socialmedia-bar {
  grid-area: social;
  display: none;
}
@media (min-width: 992px) {
  header .container .socialmedia-bar {
    display: block;
  }
}
header .container .socialmedia-bar a {
  color: #191919;
  font-size: 1.3rem;
  margin-left: 10px;
  transition: color 0.3s ease;
}
header .container .socialmedia-bar a:hover {
  color: #7c7c7c;
}
header .container .menu {
  grid-area: menu;
  display: none;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid #dad9d3;
  margin-top: 10px;
  padding-top: 10px;
}
@media (min-width: 992px) {
  header .container .menu {
    display: flex;
  }
}
header .container .menu nav a {
  display: inline-block;
  text-decoration: none;
  color: #191919;
  margin-right: 35px;
  position: relative;
}
header .container .menu nav a.active {
  font-weight: 500;
}
header .container .menu nav a.active::after, header .container .menu nav a:hover::after {
  content: "";
  position: absolute;
  font-weight: 500;
  height: 2px;
  width: 15px;
  background-color: #191919;
  left: 50%;
  bottom: -3px;
  transform: translate(calc(50% - 15px));
}
header .container .menu .login-btn {
  padding-top: 12px;
  padding-bottom: 12px;
}

.showcase {
  background-color: #F0EFE9;
}
.showcase .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.showcase .container .content {
  padding-top: 80px;
  padding-bottom: 40px;
  text-align: center;
}
@media (min-width: 1200px) {
  .showcase .container .content {
    text-align: left;
  }
}
.showcase .container .content h1 {
  font-family: "DM Sans", sans-serif;
  font-size: 40px;
  font-weight: 700;
}
@media (min-width: 768px) {
  .showcase .container .content h1 {
    font-size: 70px;
  }
}
@media (min-width: 1400px) {
  .showcase .container .content h1 {
    font-size: 86px;
    padding-top: 0;
    padding-bottom: 0;
  }
}
.showcase .container .content p {
  font-size: 16px;
  font-weight: 400;
  padding-top: 40px;
  padding-bottom: 40px;
  padding-left: 10px;
  padding-right: 10px;
}
@media (min-width: 768px) {
  .showcase .container .content p {
    font-size: 20px;
    padding-left: 0px;
    padding-right: 0px;
  }
}
.showcase .container .content a {
  margin-right: 10px;
  display: block;
  margin-bottom: 20px;
}
@media (min-width: 768px) {
  .showcase .container .content a {
    display: inline-block;
  }
}
.showcase .container img {
  display: none;
  margin-right: -50px;
}
@media (min-width: 1200px) {
  .showcase .container img {
    display: block;
  }
}

.project-and-case .container .section-title {
  text-align: center;
}